<div class="links-view animate-in">
  <header class="section-header">
    <h3>My Active Links</h3>
    <button (click)="toggleShowForm()" class="btn btn-primary btn-sm" title="Can't click button"
      [disabled]="!profileService.data()?.paypalClientId || !profileService.data()?.paypalClientSecret">+ Create
      New</button>
  </header>

  <div *ngIf="donationLinkService.data().length <= 0" id="links-empty"
    style="text-align: center; padding: 80px 0px; border: 2px dashed var(--border); border-radius: 24px; display: block;">
    <p style="color: var(--text-muted); margin-bottom: 20px;">Your shop is empty.</p>
    <button (click)="toggleShowForm()" class="btn btn-outline"
      [disabled]="!profileService.data()?.paypalClientId || !profileService.data()?.paypalClientSecret">Launch First
      Link</button>
  </div>

  <div *ngIf="donationLinkService.data().length >= 0" id="links-container">
    <div *ngFor="let dl of donationLinkService.data()" class="card"
      style="display: flex; justify-content: space-between; align-items: center; padding: 16px 24px;">
      <div style="display: flex; align-items: center; gap: 16px;">

        <div><strong style="font-size: 16px;">Donation</strong><br><small
            style="color: var(--text-muted); font-weight: 500; letter-spacing: 0.5px;">{{dl.message}}</small></div>
      </div>
      <div class="actions">
        <button class="btn btn-outline btn-sm">Visit</button>
        <button class="btn btn-outline btn-sm">Edit</button>
        <button
          (click)="deleteLink(dl.id)" 
          class="btn btn-outline btn-sm" style="color: var(--error)">Delete</button>
      </div>
    </div>
  </div>

</div>

<div id="modal" class="modal-overlay active" *ngIf="showForm()">
  <div class="modal-card animate-in">
    <div class="modal-header">
      <h3>Create New Link</h3>
      <p>Customize how your link appears to your supporters.</p>
    </div>

    <div class="form-body">
      <div class="upload-section">

        <div class="input-group">
          <label>Link Type</label>
          <select class="input-box">
            <option value="donation">Donation</option>
            <option value="product">Product</option>
          </select>
        </div>

        <div class="input-group">
          <label>Message</label>
          <textarea [(ngModel)]="donationLinkMessage" class="input-box" rows="3"
            placeholder="Tell your supporters why...">
        </textarea>
        </div>

        <div class="form-footer">
          <button (click)="toggleShowForm()" class="btn btn-outline">Cancel</button>
          <button class="btn btn-primary" [disabled]="donationLinkMessage() == ''" (click)="createLink()">
            Create Link
          </button>
        </div>
      </div>
    </div>
  </div>
</div>